/*NAVBAR*/
.navbar-brand{
  margin-bottom: 1px;
}

.glyphicon{
  margin-right: 5px;
  margin-bottom: 1px;
}

/*PAGE*/
.dashboard-container{
  background-color: #dde1e6;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  clear: both;
}

.clearfix{
  clear:both;
}

/*MINI-PROFILE*/
.mini-pic-profile-container {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.mini-profile-picture{
  height: 32px;
  width: 32px;
  background-color: black;
  margin-left: 10px;
  margin-top: 13px;
  margin-bottom: 10px;
}

.mini-profile-username h1{
  font-size: 20px;
  float: right;
  margin-top: 20px;
  margin-right: 315px;
  margin-bottom: 10px;
}

.mini-profile-call{
  color: black;
  font-size: 16px;
  float: left;
  margin-top: 15px;
}

 .mini-profile-score{
  color: black;
  font-size: 16px;
  float: right;
  margin-top: 15px;
 }

.mini-profile-call:hover, .mini-profile-score:hover{
  text-decoration: none;
}

/*TRENDING */
.trending{
  font-size: 16px;
 }

#trending-title{
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px black;
}

/*SPORTS FEED*/
#sports-feed {
  margin-top: 0px;
  padding-bottom: 10px;
  background: #dde1e6;
  border-radius: 5px;
}

.sports-feed-title {
  margin-top: 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

/*TABLE*/
thead {
  border-bottom: 1px solid black;
}

th {
  padding-right: 5px;
}

tr:hover td {
  background-color: #ce3c3e; color: #000;
}

td {
  padding-bottom: 5px;
  padding-top: 5px;
}

.schedule a {
  text-decoration: none;
  color: black;
}
