/*PAGE*/
.main {
  background: url(winner.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*NAVBAR*/
.dropdown-menu{
  height: 50px;
  width: 300px;
  background: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
}

.form-signin{
  background-color: #191919;
  padding: 5px;
  padding-top: 2.5px;
  margin: 10px;
  border-radius: 5px;
}

.form-control{
  margin: 5px auto;
  background-color: #dde1e6 !important;
  color: red;
}

#remember-me{
  font-family: 'Lato', sans-serif;
  color: #dde1e6;
  font-size: 12px;
  margin: 5px;
}

#forgot-password{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

/*PAGE CONTENT*/
#landing-info{
  font-family: 'Lato', sans-serif;
  margin-top: 1%;
  text-align: center;
  color: #ce3e3c;
  font-size: 44px;
}

/*TITLE*/
#landing-info h1{
  font-family: 'Alike', serif;`
  margin: 0.5%;
  text-align: center;
  color: #ce3e3c;
  font-size: 70px;
}

#landing-info h3 {
  font-family: 'Alike', serif;`
  margin: 1%;
  text-align: center;
  color: white;
}

#the-fans-challenge-title {
  color: #ce3e3c
}

/*VIDEO*/
.video{
  cursor: pointer;
  font-size: 13px;
  width: 100%;
  margin: 10% auto;
}

.video p strong{
  opacity: 0.6;
  z-index: 20;
  position: absolute;
  top: 21px;
  right: 0;
  bottom: 0;
  left: 0;
}

#pop-video{
  position: relative;
  cursor: pointer;
  width: 217px;
  height: 217px;
  display: block;
  background: url(play.png) no-repeat;
  background-position: 0 0;
}

#pop-video span{
  width: 217px;
  height: 217px;
  background: url(play.png) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#tool-video{
  z-index: 20;
  position: relative;
  padding: 15px 0;
  line-height: 2.4;
  width: 126px;
  height: 26px;
  display: block;
  color: #fff;
  margin: 0px auto 0;
  background-position: 0 100%;
}

#tool-video span{
  z-index: 2;
  padding: 15px 0;
  width: 126px;
  height: 26px;
  display: block;
  color: #fff;
  background: url(tooltip.png) no-repeat;
  background-position: 0 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

iframe{
  width: 854px;
  height: 480px;
}

/*SIGNUP BUTTON*/
#sign-up-button {
 height: 75px;
 width: 350px;
 margin: 1%;
 padding: 0px auto;
font-size: 32px;
}

/*SIGNUP FORM*/
#signup-box{
  float: right;
  background-color: #191919;
  padding: 10px;
  margin: 46% 0 0 0;
  border-radius: 5px;
  color: #ce3c3e;
}

#signup-header{
  font-family: 'Lato', sans-serif;
  padding-bottom: 5px;
  margin-top: 5px;
  border-bottom: solid 1px #858282;
  text-align: left;
  font-size: 20px;
  color: #dde1e6;
}

.form-signup{
  background-color: #191919;
  padding: 5px;
  padding-top: 2.5px;
  border-radius: 5px;
}

/*MODAL SETTINGS*/
#overlay_form {
  display: none;
  border-radius: 1px;
  border: 1px solid gray;
  padding: 10px;
  background: #fafafa;
  width: 800px;
  background-color: #efefef;
  box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.modal-open{
  margin-right: 0px;
}

body.modal-open{
margin-right: 0px !important;
}

body .modal-body{
  text-align: center;
  margin-top: 10%;
}
