/*LANDING PAGE INFO BOX*/
#landing-info{
  height: 403px;
  background-color: #dde1e6;
  border-radius: 5px;
}

#landing-info h1{
  margin-top: 0px;
  padding-top: 50px;
  padding-left: 50px;
  font-size: 28px;
  font-weight: bold;
  color: #ce3c3e;
}

#landing-info h2{
  margin-top: 0px;
  padding-top: 50px;
  padding-left: 50px;
  font-size: 21px;
  font-weight: bold;
}

#landing-info iframe{
  margin-left: 92.5px;
  border: solid 1px #ce3c3e;
}

/*LANDING PAGE SIGN IN BOX*/
#signin-box{
  float: right;
  background-color: #dde1e6;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#remember-me{
  margin-right: 2.5px;
  color: #858282;
  font-size: 12px;
}

#forgot-password{
  margin-left: 2.5px;
  font-size: 12px;
}

/*LANDING PAGE SIGN UP BOX*/
#signup-box{
  clear: both;
  float: right;
  background-color: #dde1e6;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 5px;
  border-radius: 5px;
  color: #ce3c3e;
}

#signup{
  color: #858282;
}

#signup-header{
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  margin-top: 5px;
  border-bottom: solid 1px #858282;
  font-size: 20px;
}

/*CLASSES & HTML ELEMENTS*/
.navbar{
  margin-bottom: 100px;
}

.form-control{
  margin: 5px auto;
}
