body {
  background-image:url(sports_fan_two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*LANDING PAGE INFO BOX*/
.jumbotron h1

/*LANDING PAGE SIGN IN BOX*/
#signin-box{
  background-color: #dde1e6;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 55px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: solid 3px black;
}

#signin-header {
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  margin-top: 5px;
  border-bottom: solid 1px #858282;
  font-size: 20px;
  color: #ce3c3e;

}

#remember-me{
  margin-right: 2.5px;
  color: #858282;
  font-size: 12px;
}

#forgot-password{
  margin-left: 2.5px;
  font-size: 12px;
}

/*LANDING PAGE SIGN UP BOX*/
#signup-box{
  float: right;
  background-color: #dde1e6 ;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 5px;
  border-radius: 5px;
  color: #ce3c3e;
  border: solid 3px black;

}

#signup{
  color: #858282;
}

#signup-header{
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  margin-top: 5px;
  border-bottom: solid 1px #858282;
  font-size: 20px;
}

/*CLASSES & HTML ELEMENTS*/
.navbar{
  margin-bottom: 20px;
}

.form-control{
  margin: 5px auto;
}



